<div class="screen-container">
  <div class="screen-card">
    <div class="screen-header">
      <h2>Payment Voucher </h2>
    </div>
    <div class="screen-content">



      <div class="row">
        <div class="col-8 d-flex flex-wrap align-items-center">
          <a routerLink="/dashboard/accounts/accounts-transactions/payment-voucher-view"
            class="btn btn-primary border-0">New</a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 col-xl-12">

          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="row mb-4">
                <div class="col-md-6 col-xl-6">
                  <div class="form-group mr-0 custom-search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ngx-datatable class="material expandable table " [rows]="rows" [columnMode]="'force'" [headerHeight]="50" 
            [rowHeight]="'auto'" [limit]="page.limit" [count]="page.count" [offset]="page.offset">

            <!-- Actions -->
            <ngx-datatable-column name="Actions" [width]="100">
              <ng-template ngx-datatable-cell-template>
                <a href="#">View</a>
              </ng-template>
            </ngx-datatable-column>

            <!-- Payment Date -->
            <ngx-datatable-column name="Payment Date" prop="paymentDate">
            </ngx-datatable-column>

            <!-- Voucher No -->
            <ngx-datatable-column name="Voucher No." prop="voucherNo">
            </ngx-datatable-column>

            <!-- Payment Details -->
            <ngx-datatable-column name="Payment Details" prop="paymentDetails">
            </ngx-datatable-column>

            <!-- Bank Name -->
            <ngx-datatable-column name="Bank Name" prop="bankName">
            </ngx-datatable-column>

            <!-- Paid Amount -->
            <ngx-datatable-column name="Paid Amount" prop="paidAmount">
            </ngx-datatable-column>

            <!-- Custom Footer -->
            <!-- <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-curPage="curPage">
                <div style="padding: 5px 10px">
                  Page {{ curPage + 1 }} of {{ Math.ceil(rowCount / pageSize) }}
                  ({{ rowCount }} items)
                </div>
              </ng-template>
            </ngx-datatable-footer> -->

          </ngx-datatable>


        </div>
      </div>

    </div>
  </div>
</div>