<form [formGroup]="ChequesOnHandForm">
    <!-- <app-loading [loading]="gridLoading"></app-loading> -->
    <div class="section-content">
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <!-- <p class="bc-2">Bank Pay-in (Cheques On Hand)</p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="required-field">Date</label>
                    <input class="form-control" type="text" title="Date" id="ptransactiondate"
                        [disabled]="!pdatepickerenablestatus" formControlName="ptransactiondate" placeholder="" readonly
                        [bsConfig]="dpConfig" #dp="bsDatepicker" bsDatepicker placement="bottom"
                        [ngClass]="{ 'is-invalid': ChequesOnHandValidation.ptransactiondate }"
                        (ngModelChange)="change_date($event)">
                    <!-- 
                    <app-validation-message [messgae]="ChequesOnHandValidation?.ptransactiondate">
                    </app-validation-message> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="required-field">Bank</label>
                    <select class="form-control" (change)="SelectBank($event)" id="bankname" formControlName="bankname"
                        title="Bank" [ngClass]="{ 'is-invalid': ChequesOnHandValidation.bankname }">
                        <option value="">Select</option>
                        <option *ngFor="let bank of BanksList" [value]="bank.pdepositbankname">{{bank.pdepositbankname}}
                        </option>

                    </select>
                    <!-- <app-validation-message [messgae]="ChequesOnHandValidation?.bankname"></app-validation-message> -->
                    <!-- <div *ngIf="ShowBankErrorMsg" style="color:red">Select Bank</div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="border rounded  shadow-sm bg-light p-3">
                    <span *ngIf="banknameshowhide" class="sec-head-bold mt-0 font-16 overflow-hidden">{{bankname}}
                        <hr class="mt-0 mb-0">
                    </span>
                    <div class="form-group mb-0">
                        <h4 style="color: #26408A;"><u>Cheques on Hand </u></h4>
                    </div>
                    <div class="form-group mb-0">
                        <label>Balance: </label>
                        <label class="sec-head-bold ml-2">
                            <div *ngIf="bankbalancetype === 'Dr'">
                                {{ bankbalance | currency:currencySymbol:'symbol':'1.2-2' }}
                                {{ bankbalancetype }}
                            </div>

                            <div *ngIf="bankbalancetype === 'Cr'">
                                {{ bankbalance | currency:currencySymbol:'symbol':'1.2-2' }}
                                {{ bankbalancetype }}
                            </div>

                            <div *ngIf="bankbalancetype==''">{{currencySymbol}} 0.00</div>
                        </label>
                        <label class="ml-4">BRS Date: </label><label class="sec-head-bold ml-2">{{brsdate}}</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section-content mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mr-0 custom-search">
                    <input (input)="onSearch($event.target.value)" type="search" #search id="search"
                        class="form-control" placeholder="Search for cheque number" aria-label="Search"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br />

        <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Cheques Received</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Online Receipts</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Deposited</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Cancelled</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
   <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"> </div>
</div>


    </div>

 

    <!-- The Modal -->
    <div class="modal right slideInRight" id="add-detail" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="margin-right:0px !important; ">
            <div class="model-cst modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="form-group">
                        <label for="">Enter The Cancel Amount Charges For The Cheque:{{chequenumber}}</label>
                        <input type="text" class="form-control" style="text-align:right;" name="cancelcharges"
                            maxlength="3" id="cancelcharges" #ref appNumbersonly appMycurrencyFormatter>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <a (click)="CancelChargesOk(ref.value)" data-toggle="tab"
                            class="btn btn-b-icon px-3 border-0 mr-3" role="tab" aria-controls="hot"
                            aria-selected="false"><img src="assets/images/icon-check-white.svg" class="mr-3"
                                width="20px" height="20px">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>