<div class="section-content">
    <div class="row g-3 align-items-end">
  
      <!-- Paytm -->
      <div class="col-md-6 col-lg-4">
        <label class="form-label">Paytm Transaction Date</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Select date"
            readonly
          >
          <button class="btn btn-primary">
            <i class="fa fa-sync me-1"></i> Update
          </button>
        </div>
      </div>
  
      <!-- Cashfree -->
      <div class="col-md-6 col-lg-4">
        <label class="form-label">Cashfree Transaction Date</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Select date"
            readonly
          >
          <button class="btn btn-primary">
            <i class="fa fa-sync me-1"></i> Update
          </button>
        </div>
      </div>
  
    </div>
    <hr class="light">
    <div class="row g-3 align-items-end mt-3">
  
      <!-- Paytm -->
      <div class="col-md-6 col-lg-4">
        <label class="form-label">Transaction Date</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Select date"
            readonly
          >
          <button class="btn btn-primary">
            <i class="fa fa-sync me-1"></i> SQL Dumped
          </button>
        </div>
      </div>

    </div>
    <hr class="light">
    <div class="row g-3 align-items-end mt-3">
  
      <!-- Paytm -->
      <div class="col-md-6 col-lg-4">
        <label class="form-label">Transaction Date</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Select date"
            readonly
          >
          <button class="btn btn-primary">
            <i class="fa fa-sync me-1"></i> Paytm Receipt
          </button>
        </div>
      </div>

    </div>
  </div>
  

  