
<div class="section-content">
  <div class="row">
    <div class="col-8 d-flex flex-wrap align-items-center">
      <a 
       routerLink="/dashboard/accounts/accounts-transactions/petty-cash"
      class="btn btn-primary border-0">New</a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 col-xl-12">
      <div class="row mb-4">
        <div class="col-md-6 col-xl-6">
          <div class="form-group mr-0 custom-search">
            <div class="input-group">
              <input type="text" class="form-control" (keyup)="filterDatatable($event)">
            </div>
          </div>
        </div>
      </div>

      <ngx-datatable
        class="material expandable table"
        [rows]="gridView"
        [columnMode]="'force'"
        [headerHeight]="50"
        [scrollbarH]="false"
        [footerHeight]="pageCriteria.footerPageHeight"
        [rowHeight]="'auto'"
        [limit]="pageCriteria.pageSize"
      >

        <ngx-datatable-column name="Actions" [cellClass]="'cell-center'" [headerClass]="'header-center'">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <button class="btn btn-sm btn-primary" (click)="viewRow()">View</button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Receipt Date" prop="preceiptdate" [cellClass]="'cell-left'" [headerClass]="'header-left'">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span title="{{row.preceiptdate}}">{{row.preceiptdate}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Receipt No." prop="preceiptid" [cellClass]="'cell-center'" [headerClass]="'header-center'">
        </ngx-datatable-column>

        <ngx-datatable-column name="Payment Details" prop="pmodofreceipt" [cellClass]="'cell-left'" [headerClass]="'header-left'">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div *ngIf="row.pmodofreceipt === 'CASH'">
              {{row.pmodofreceipt}}
            </div>
            <div *ngIf="row.pmodofreceipt !== 'CASH'">
              {{row.pmodofreceipt}} ({{row.ptypeofpayment}} - {{row.pChequenumber}})
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Received Amount" prop="ptotalreceivedamount" [cellClass]="'cell-right'" [headerClass]="'header-right'">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{currencySymbol}} {{row.ptotalreceivedamount |currency }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Narration" prop="pnarration" [cellClass]="'cell-left'" [headerClass]="'header-left'" [width]="400">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div *ngIf="row.pnarration === ''">-- NA --</div>
            <div *ngIf="row.pnarration !== ''" title="{{row.pnarration}}">
              {{row.pnarration}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer *ngIf="gridView">
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage">
            <div style="padding: 5px 10px" *ngIf="gridView.length > 0">
              <!-- <div>Page {{pageCriteria.CurrentPage}} of {{pageCriteria.TotalPages}} ({{ pageCriteria.totalrows }} items)</div> -->
            </div>
            <!-- <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
          
             
              
              (change)="onFooterPageChange($event)"
              [hidden]="!((rowCount / pageSize) > 0)"
            >
            </datatable-pager> -->
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable>
    </div>
  </div>
</div>
