<div class="screen-container">
  <div class="screen-card">
    <div class="screen-header">
      <h2>Bank Configuration</h2>
    </div>
    <div class="screen-content">

      <form class="section-content" autocomplete="off">
        <div class="row g-3">

          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="required-field">Date</label>
              <input class="form-control w-auto" type="text" title="Date" id="todate" formControlName="todate"
                [bsConfig]="dpConfig" bsDatepicker placement="bottom">
              <small class="text-danger"
                *ngIf="bankmasterform.get('todate')?.touched && bankmasterform.get('todate')?.invalid">
                Date is required.
              </small>
            </div>
          </div>
        </div>

        <div class="row">

          <!-- A/C Type -->
          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="form-label">A/C Type</label>
              <select class="form-select">
                <option value="" disabled selected>Select</option>
                <option>Saving</option>
                <option>Current</option>
              </select>
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="form-label">Account No.</label>
              <input class="form-control" type="text" maxlength="50">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="form-label">Bank</label>
              <select class="form-select">
                <option value="" disabled selected>Select</option>
                <option>Bank 1</option>
                <option>Bank 2</option>
                <option>Bank 3</option>
              </select>
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="form-label">Account Name</label>
              <input class="form-control" type="text" maxlength="150">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="mb-3">
              <label class="form-label">Branch</label>
              <input class="form-control" type="text" maxlength="125">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <label class="form-label">IFSC Code</label>
            <div class="d-flex gap-2">
              <input class="form-control" placeholder="IFSC Code" maxlength="12" formControlName="pIfsccode">
              <input class="form-control text-end" placeholder="Overdraft" formControlName="pOverdraft">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <label class="form-label">Opening Balance</label>
            <div class="input-group">
              <input class="form-control text-end" placeholder="0.00">
              <select class="form-select">
                <option value="" disabled selected>Select</option>
                <option value="D">Debit</option>
                <option value="C">Credit</option>
              </select>
            </div>
          </div>
        </div>

        <hr class="my-4">


        <div class="row">
          <div class="col-md-12 mb-2">
            <label class="form-check-label d-flex align-items-center" style="cursor:pointer; color: #0d6efd;"
              (click)="toggleBranchAddress()">
              <span class="me-2">
                <i [ngClass]="{
                  'bi-chevron-right': !branchAddressExpanded,
                  'bi-chevron-down': branchAddressExpanded
                }"></i>
              </span>
              Branch Address
            </label>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label for="address1" title="Address Line 1">Address Line 1</label>
              <input type="text" id="address1" class="form-control" maxlength="150" formControlName="address1">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label for="address2" title="Address Line 2">Address Line 2</label>
              <input type="text" id="address2" class="form-control" maxlength="150" formControlName="address2">
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label for="city" title="City / Village">City / Village</label>
              <input type="text" id="city" class="form-control" maxlength="75" formControlName="city">
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label for="country" title="Country">Country</label>
              <select id="country" class="form-control" formControlName="country">
                <option value="">Select</option>
                <option *ngFor="let c of countries" [value]="c.name">{{ c.name }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="d-flex">

              <div class="col-md-6 col-xl-6 pl-0">
                <div class="form-group">
                  <label for="state" title="State">State</label>
                  <select id="state" class="form-control" formControlName="state">
                    <option value="">Select</option>
                    <option *ngFor="let s of states" [value]="s.name">{{ s.name }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-xl-6 pr-0">
                <div class="form-group">
                  <label for="district" title="District">District</label>
                  <select id="district" class="form-control" formControlName="district">
                    <option value="">Select</option>
                    <option *ngFor="let d of districts" [value]="d.name">{{ d.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label for="pincode" title="Pincode">Pincode</label>
              <input type="text" id="pincode" class="form-control" maxlength="6" formControlName="pincode" readonly>
            </div>
          </div>

        </div>

        <hr class="light">       
        <div class="row">          
          <div class="col-md-4">
            <div class="mb-3 d-flex align-items-center justify-content-between" style="cursor:pointer"
              (click)="debitcardhideandshow = !debitcardhideandshow">
              <span class="text-primary">Add Debit Card</span>
              <i class="bi" [ngClass]="{
                  'bi-chevron-right': !debitcardhideandshow,
                  'bi-chevron-down': debitcardhideandshow
                }"></i>
            </div>

            <div *ngIf="debitcardhideandshow">
              <div class="mb-3">
                <label>Card No</label>
                <input class="form-control" formControlName="pCardNo">
              </div>

              <div class="row g-2 mb-3">
                <div class="col">
                  <label>Valid From</label>
                  <input class="form-control" bsDatepicker formControlName="pValidfrom" readonly>
                </div>
                <div class="col">
                  <label>Valid Thru</label>
                  <input class="form-control" bsDatepicker formControlName="pValidto" readonly>
                </div>
              </div>
              <div class="mb-3">
                <label>Name on The Card</label>
                <input class="form-control" formControlName="pCardName">
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <!-- Add Debit Card Label -->
            <div class="mb-3 d-flex align-items-center justify-content-between" style="cursor:pointer"
              (click)="debitcardhideandshow = !debitcardhideandshow">
              <span class="text-primary">Add Debit Card</span>
              <i class="bi" [ngClass]="{
        'bi-chevron-right': !debitcardhideandshow,
        'bi-chevron-down': debitcardhideandshow
      }"></i>
            </div>

            <!-- Debit Card Setup Box -->
            <div *ngIf="debitcardhideandshow" class="border rounded p-2">

              <!-- Debit Card Setup Header with Toggle -->
              <div class="d-flex justify-content-between align-items-center mb-3">
                <span>Debit Card Setup</span>
                <div class="form-check form-switch mb-0">
                  <input class="form-check-input" type="checkbox"
                    [checked]="bankmasterform.get('pIsdebitcardapplicable')?.value"
                    (change)="bankmasterform.get('pIsdebitcardapplicable')?.setValue($event.target.checked)">
                </div>
              </div>

              <!-- Debit Card Fields -->
              <div *ngIf="bankmasterform.get('pIsdebitcardapplicable')?.value">
                <div class="mb-3">
                  <label>Card No</label>
                  <input class="form-control" formControlName="pCardNo">
                </div>

                <div class="row g-2 mb-3">
                  <div class="col">
                    <label>Valid From</label>
                    <input class="form-control" bsDatepicker [bsConfig]="dpConfig" formControlName="pValidfrom"
                      readonly>
                  </div>
                  <div class="col">
                    <label>Valid Thru</label>
                    <input class="form-control" bsDatepicker [bsConfig]="dpConfig" formControlName="pValidto" readonly>
                  </div>
                </div>

                <div class="mb-3">
                  <label>Name on The Card</label>
                  <input class="form-control" formControlName="pCardName">
                </div>
              </div>

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" formControlName="pIsupiapplicable">
              <label class="form-check-label">Add UPI</label>
            </div>

            <div *ngIf="bankupihideandshow">
              <input class="form-control mb-2" placeholder="UPI ID" formControlName="pUpiid">
              <select class="form-select" formControlName="pUpiname">
                <option value="" disabled>Select</option>
                <option *ngFor="let u of upiname" [value]="u.pUpiname">{{ u.pUpiname }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <input type="checkbox" class="form-check-input" formControlName="isprimary" id="BankSetup">
            <label class="form-check-label" for="BankSetup">Bank Setup</label>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="isformanbank" id="isprimary">
              <label class="form-check-label" for="isprimary">isprimary</label>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="isforemanpaymentbank" id="isformanbank">
              <label class="form-check-label" for="isformanbank">isformanbank</label>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="isintrestpaymentbank"
                id="isforemanpaymentbank">
              <label class="form-check-label" for="isforemanpaymentbank">isforemanpaymentbank</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="isintrestpaymentbank">
              <label class="form-check-label" for="isintrestpaymentbank">isintrestpaymentbank</label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mb-4">
          <button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>