<div class="section-content">

  <div class="row">
    <div class="col d-flex flex-wrap align-items-center">
      <div class="col-8 d-flex flex-wrap align-items-center">
        <a routerLink="/dashboard/accounts/accounts-config/cheque-managementnew"
          class="btn btn-primary border-0">New</a>
      </div>
    </div>

    <div class="col-md-2 col-xl-2 mt-1">
      <div class="d-flex justify-content-end mb-2">
        <div class="dropdown">
          <button type="button" class="btn btn-b-icon border-0 mt-1 me-2 dropdown-toggle" data-bs-toggle="dropdown">
            <i class="fa fa-filter" aria-hidden="true"></i>
            Filters
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="filterByCodeStatus('All')">All</a>
            <a class="dropdown-item" (click)="filterByCodeStatus('Used')">Used</a>
            <a class="dropdown-item" (click)="filterByCodeStatus('Un Used')">Un Used</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <a *ngIf="hideprint" class="export-icons" (click)="pdforprint('Pdf')">
        <img src="assets/images/pdf-icon-blue.svg" title="Pdf" width="18" />
      </a>

      <a *ngIf="hideprint" class="export-icons" (click)="pdforprint('Print')">
        <img src="assets/images/print-icon-blue.svg" title="Print" width="18" />
      </a>

      <a *ngIf="hideprint" class="export-icons" (click)="excel()">
        <img src="assets/images/icon-excel.svg" title="Excel" width="18" />
      </a>
    </div>
  </div>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
        <h3>Loading...</h3>
      </div>
    </ng-template>

    <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading> -->
  </div>

  <div class="row mt-2">
    <div class="col-md-12 col-xl-12">
      <!-- <ngx-datatable class="material expandable table" [rows]="gridData" columnMode="force" [headerHeight]="50"
        [rowHeight]="50" [footerHeight]="pageCriteria.footerPageHeight" [limit]="pageCriteria.pageSize"
        [offset]="pageCriteria.offset">

        <ngx-datatable-column name="Book ID" prop="pChqbookid" [cellClass]="'cell-center'"
          [headerClass]="'header-center'" [width]="50"></ngx-datatable-column>

        <ngx-datatable-column name="No. of Cheques" prop="pNoofcheques" [cellClass]="'cell-center'"
          [headerClass]="'header-center'"></ngx-datatable-column>

        <ngx-datatable-column name="From" prop="pChequefrom" [cellClass]="'cell-center'"
          [headerClass]="'header-center'"></ngx-datatable-column>

        <ngx-datatable-column name="To" prop="pChequeto" [cellClass]="'cell-center'"
          [headerClass]="'header-center'"></ngx-datatable-column>

        <ngx-datatable-column name="Cheque Status" prop="pChqegeneratestatus" [cellClass]="'cell-center'"
          [headerClass]="'header-center'">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span *ngIf="value === true">Active</span>
            <a *ngIf="value === false" class="a-link" (click)="editClick(row)">
              Generate Cheques
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Bank Name" prop="pBankname" [cellClass]="'cell-left'" [headerClass]="'header-left'"
          [width]="300"></ngx-datatable-column>

        <ngx-datatable-column name="Account No." prop="pAccountnumber" [cellClass]="'cell-left'"
          [headerClass]="'header-left'" [width]="200"></ngx-datatable-column>

        <ngx-datatable-column name="Book Status" prop="pchequestatus" [cellClass]="'cell-left'"
          [headerClass]="'header-left'" [width]="300"></ngx-datatable-column>

        <ngx-datatable-footer *ngIf="gridData">
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-curPage="curPage">
            <div *ngIf="gridData.length > 0" style="padding: 5px 10px">
              Page {{ pageCriteria.CurrentPage }}
              of {{ pageCriteria.TotalPages }}
              ({{ pageCriteria.totalrows }} items)
            </div>

          
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable> -->

      <p-table [value]="gridData" [paginator]="true" [rows]="pageCriteria.pageSize"
        [first]="pageCriteria.offset * pageCriteria.pageSize" 
        responsiveLayout="scroll" styleClass="p-datatable-gridlines p-datatable-sm">
<!-- [rowsPerPageOptions]="[10, 25, 50]" -->
        <!-- Header -->
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">Book ID</th>
            <th class="text-center">No. of Cheques</th>
            <th class="text-center">From</th>
            <th class="text-center">To</th>
            <th class="text-center">Cheque Status</th>
            <th class="text-left">Bank Name</th>
            <th class="text-left">Account No.</th>
            <th class="text-left">Book Status</th>
          </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-row>
          <tr>
            <td class="text-center">{{ row.pChqbookid }}</td>
            <td class="text-center">{{ row.pNoofcheques }}</td>
            <td class="text-center">{{ row.pChequefrom }}</td>
            <td class="text-center">{{ row.pChequeto }}</td>

            <td class="text-center">
              <span *ngIf="row.pChqegeneratestatus">Active</span>
              <a *ngIf="!row.pChqegeneratestatus" class="a-link" (click)="editClick(row)">
                Generate Cheques
              </a>
            </td>

            <td class="text-left">{{ row.pBankname }}</td>
            <td class="text-left">{{ row.pAccountnumber }}</td>
            <td class="text-left">{{ row.pchequestatus }}</td>
          </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="text-center">
              No data to display
            </td>
          </tr>
        </ng-template>


        <!-- Footer -->
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="8">
              <div *ngIf="gridData && gridData.length > 0" style="padding: 5px 10px">
                Page {{ pageCriteria.CurrentPage }}
                of {{ pageCriteria.TotalPages }}
                ({{ pageCriteria.totalrows }} items)
              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>


    </div>
  </div>

</div>