<div class="screen-container">
  <div class="screen-card">
    <div class="screen-header">
      <h2>General Receipt</h2>
    </div>

    <div class="section-content">
      <div class="row mb-3">
        <div class="col-8 d-flex flex-wrap align-items-center">
          <a routerLink="/dashboard/accounts/accounts-transactions/general-receipt-new"
             class="btn btn-primary border-0 ms-2">NEW</a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              (input)="filterDatatable($event)">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <p-table
            [value]="gridView"
            [paginator]="true"
            [rows]="10"
            [rows]="pageCriteria.pageSize"
            [totalRecords]="gridView.length"
            (onPage)="onFooterPageChange($event)"
            [rowsPerPageOptions]="[5,10,20]"
            [responsiveLayout]="'scroll'"
            [loading]="loading"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-gridlines">

            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">Actions</th>
                <th>Receipt Date</th>
                <th class="text-center">Receipt No.</th>
                <th>Payment Details</th>
                <th class="text-end">Received Amount</th>
                <th style="width:400px">Narration</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary"(click)="viewRow(row)">View</button>
               </td>
                <td>{{ row.preceiptdate || '--' }}</td>
                <td class="text-center">
                  {{ row.preceiptid || '--' }}
                </td>
                <td>
                  <ng-container *ngIf="row.pmodofreceipt === 'CASH'; else nonCash">
                    CASH
                  </ng-container>

                  <ng-template #nonCash>
                    {{ row.pmodofreceipt || '--' }}
                    <span *ngIf="row.ptypeofpayment">
                      ({{ row.ptypeofpayment }}
                      <span *ngIf="row.pChequenumber">
                        - {{ row.pChequenumber }}
                      </span>)
                    </span>
                  </ng-template>
                </td>
                <td class="text-end">
                  {{ currencySymbol }}
                  {{ row.ptotalreceivedamount ?? 0 | number:'1.2-2' }}
                </td>
                <td style="width:400px">
                  {{ row.pnarration || '-- NA --' }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-center">
                  No records found
                </td>
              </tr>
            </ng-template>

          </p-table>

        </div>
      </div>

    </div>
  </div>
</div>