<form [formGroup]="paymentVoucherForm" autocomplete="off">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <!-- <p class="bc-2">Payment Voucher</p> -->
          </div>

          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label class="required-field">Date</label>
              <fieldset [disabled]="!disabletransactiondate">
                <input class="form-control" readonly type="text" [bsConfig]="ppaymentdateConfig" bsDatepicker
                  formControlName="ppaymentdate" [ngClass]="{ 'is-invalid': formValidationMessages?.ppaymentdate }">
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xl-12">
      <div class="section-content mt-2">
        <p class="bc-2">Mode of Payment</p>
        <div class="form-group mt-2  pl-0" id="pmodofpayment" title="Mode of Payment">
          <div class="form-check form-check-inline radio-btn ">
            <input class="form-check-input" type="radio" name="pmodofpayment" formControlName="pmodofpayment" id="cash"
              value="CASH" (change)="modeofPaymentChange()">
            <label class="mt-1 w-m-100 text-center" for="cash"> Cash - {{currencySymbol}}
              {{cashBalance }} </label>
          </div>
          <div class="form-check form-check-inline radio-btn ">
            <input class="form-check-input" type="radio" name="pmodofpayment" formControlName="pmodofpayment"
              id="Instrument" value="BANK" (change)="modeofPaymentChange()">
            <label class="mt-1 w-m-100 text-center" for="Instrument"> Bank - {{currencySymbol}}
              {{bankBalance }}</label>
          </div>

          <!--<div class="form-check form-check-inline radio-btn ">
                <input class="form-check-input" type="radio" name="pmodofpayment" formControlName="pmodofpayment" id="wallet" value="WALLET" (change)="modeofPaymentChange()">
                <label class="mt-1 w-m-100 text-center" for="wallet"> Wallet - 1,000 Dr</label>
              </div>-->
        </div>
        <div class="Instrument" *ngIf="showModeofPayment">
          <div class="row">
            <div class="ml-3 mb-3 rounded border pl-2 pr-2 badge-light " *ngIf="showtranstype" id="ptranstype"
              title="Trans Type">
              <div class="form-check form-check-inline radio-btn-secondary">
                <input class="form-check-input" type="radio" name="ptranstype" formControlName="ptranstype"
                  (change)="transofPaymentChange()" id="cheque" value="CHEQUE" checked>
                <label class="mt-1" for="cheque"> Cheque </label>
              </div>

              <div class="form-check form-check-inline radio-btn-secondary">
                <input class="form-check-input " type="radio" name="ptranstype" formControlName="ptranstype"
                  (change)="transofPaymentChange()" id="net" value="ONLINE">
                <label class="mt-1" for="net"> Online </label>
              </div>

              <div class="form-check form-check-inline radio-btn-secondary">
                <input class="form-check-input " type="radio" name="ptranstype" formControlName="ptranstype"
                  (change)="transofPaymentChange()" id="debit" value="DEBIT CARD">
                <label class="mt-1" for="debit"> Debit Card </label>
              </div>
              <!--<div class="form-check form-check-inline radio-btn-secondary">
                    <input class="form-check-input " type="radio" name="ptranstype" formControlName="ptranstype" (change)="transofPaymentChange()" id="Credit" value="CREDIT CARD">
                    <label class="mt-1" for="Credit"> Credit Card </label>
                  </div>-->
            </div>

            <div class="col-md-12 col-xl-12">
              <div class="cheque ">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group" *ngIf="showbankcard">
                      <label>Bank Name</label>
                      <select class="form-control" id="pbankname" title="Bank Name" formControlName="bankName"
                        (change)="bankName_Change($event)">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let bank of banklist;trackBy: trackByFn" [value]="bank.bankName">
                          {{bank.bankName}}</option>
                      </select>
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pbankname">
                      </app-validation-message> 
                      
                       [ngClass]="{ 'is-invalid': formValidationMessages.pbankname }"-->

                    </div>
                    <div class="form-group" *ngIf="!showbankcard">
                      <label>{{displayCardName}} </label>
                      <select class="form-control" id="pCardNumber" title="{{displayCardName}}"
                        formControlName="pCardNumber" (change)="debitCard_Change()">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let debitcard of debitcardlist;trackBy: trackByFn"
                          [value]="debitcard.pCardNumber">{{debitcard.pCardNumber}}</option>
                      </select>
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pCardNumber">
                      </app-validation-message>
                      [ngClass]="{ 'is-invalid': formValidationMessages.pCardNumber }" -->
                    </div>
                  </div>

                  <div class="col-md-3" *ngIf="showTypeofPayment">
                    <div class="form-group">
                      <label>Type of Payment</label>
                      <select class="form-control " id="ptypeofpayment" title="Type of Payment"
                        formControlName="ptypeofpayment" (change)="typeofPaymentChange()">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let typeofpayment of typeofpaymentlist;trackBy: trackByFn"
                          [value]="typeofpayment.ptypeofpayment">
                          {{typeofpayment.ptypeofpayment}}</option>

                      </select>
                      <!-- <app-validation-message [messgae]="formValidationMessages?.ptypeofpayment">
                                            </app-validation-message>
                                             [ngClass]="{ 'is-invalid': formValidationMessages.ptypeofpayment }" -->
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="showbranch">
                    <div class="form-group">
                      <label>Branch Name</label>
                      <input class="form-control" type="text" readonly placeholder="Branch Name" id="pbranchname"
                        title="Branch Name" formControlName="pbranchname">
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pbranchname">
                                            </app-validation-message> -->
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="showfinancial">
                    <div class="form-group">
                      <label>Bank / Financial Services</label>
                      <input class="form-control" type="text" readonly id="pbankname" title="Bank / Financial Services"
                        formControlName="pbankname">
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pbankname">
                                            </app-validation-message> 
                                            -->
                    </div>
                  </div>

                  <div id="UPI1" class="col-md-3" *ngIf="showupi">

                    <div class="form-group">
                      <label>UPI</label>
                      <select class="form-control" id="pUpiname" title="UPI" formControlName="pUpiname"
                        (change)="upiName_Change($event)">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let upinames of upinameslist;trackBy: trackByFn" [value]="upinames.pUpiname">
                          {{upinames.pUpiname}}</option>
                      </select>
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pUpiname">
                                            </app-validation-message> 
                                            [ngClass]="{ 'is-invalid': formValidationMessages.pUpiname }-->
                    </div>
                  </div>

                  <div id="UPI2" class="col-md-3" *ngIf="showupi">

                    <div class="form-group">
                      <label>UPI ID</label>
                      <select class="form-control" id="pUpiid" title="UPI ID" formControlName="pUpiid"
                        (change)="upid_change()">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let upinames of upiidlist;trackBy: trackByFn" [value]="upinames.pUpiid">
                          {{upinames.pUpiid}}</option>
                      </select>
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pUpiid">
                                            </app-validation-message>
                                            [ngClass]="{ 'is-invalid': formValidationMessages.pUpiid } -->
                    </div>
                  </div>



                  <div class="col-md-3 cheque ">
                    <div class="form-group">
                      <label id="pChequenumber" title="{{displaychequeno}}">{{displaychequeno}}</label>
                      <select class="form-control" formControlName="pChequenumber"
                        [ngClass]="{ 'is-invalid': formValidationMessages.pChequenumber }" *ngIf="showchequno"
                        (change)="chequenumber_Change()">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let chequenumbers of chequenumberslist;trackBy: trackByFn"
                          [value]="chequenumbers.pChequenumber">
                          {{chequenumbers.pChequenumber}}</option>
                      </select>
                      <input class="form-control" type="text" placeholder="{{displaychequeno}}"
                        formControlName="pChequenumber" appAlphanumeric maxlength="20" *ngIf="!showchequno"
                        (blur)="chequenumber_Change()">
                      <!-- <app-validation-message [messgae]="formValidationMessages?.pChequenumber">
                                            </app-validation-message>
                                             [ngClass]="{ 'is-invalid': formValidationMessages.pChequenumber } -->
                    </div>
                  </div>


                  <div class="col-md-12 col-xl-12 mb-2">
                    <div id="sbi-bal">
                      <span class="badge-info badge p-1 font-weight-light ">Bank Book -
                        {{bankbookBalance }} </span>
                      <span class="badge-warning badge p-1 font-weight-light">Pass Book -
                        {{bankpassbookBalance }} </span>
                    </div>

                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- cheque-radio-toggle -->
      </div>
    </div>
  </div>
  <div class="section-content mt-2" formGroupName="ppaymentsslistcontrols">
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <div class="input-group d-block">
            <label id="ppartyid" class="required-field" title="Party">Party</label>
            <ng-select id="ppartyname" title="Party" [items]="partylist" formControlName="ppartyid"
              bindLabel="ppartyname" bindValue="ppartyid" [multiple]=false placeholder="Select" [searchable]=true
              [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true (change)="partyName_Change($event)"
              [virtualScroll]="true">
            </ng-select>

            <!-- <app-validation-message [messgae]="formValidationMessages?.ppartyname"></app-validation-message> 
                            [ngClass]="{ 'is-invalid': formValidationMessages.ppartyname }-->
            <span class=" position-absolute font-italic" style="right:-160px; top:30px;">{{partyBalance }}</span>
          </div>

        </div>
        <div class="form-group">
          <div class="input-group d-block">
            <label id="pledgerid" class="required-field" title="Ledger">Ledger</label>
            <ng-select id="pledgername" title="Ledger" [items]="ledgeraccountslist" formControlName="pledgerid"
              groupBy="pAccounttype" bindLabel="pledgername" bindValue="pledgerid" [multiple]=false placeholder="Select"
              [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=true
              (change)="ledgerName_Change($event)">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.pAccounttype}}
              </ng-template>
            </ng-select>

            <span class=" position-absolute font-italic" style="right:-160px; top:35px;">{{ledgerBalance }}</span>
          </div>
          <!-- <app-validation-message [messgae]="formValidationMessages?.pledgername"></app-validation-message>
                     [ngClass]="{ 'is-invalid': formValidationMessages.pledgername } -->

        </div>

        <div class="form-group" *ngIf="showsubledger">
          <div class="input-group d-block">
            <label id="psubledgername" class="required-field" title="Sub Ledger">Sub Ledger</label>
            <ng-select id="psubledgername" title="Sub Ledger" [items]="subledgeraccountslist"
              formControlName="psubledgerid" bindLabel="psubledgername" bindValue="psubledgerid" [multiple]=false
              placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true
              (change)="subledger_Change($event)">
            </ng-select>
            <!--<div class="input-group-append">
                <button class="btn btn-lg-icon rounded-right px-2 p-0"> <img src="assets/images/icon-add-blue.svg" class="" width="20px" height="20px"></button>
              </div>-->
            <span class=" position-absolute font-italic" style="right:-160px; top:30px;">{{subledgerBalance }}</span>
          </div>
          <!-- <app-validation-message [messgae]="formValidationMessages?.psubledgername"></app-validation-message>
                      [ngClass]="{ 'is-invalid': formValidationMessages.psubledgername } -->

        </div>

        <!-- <div class="form-group">
                    <div class="input-group d-block">
                        <label id="ppartyid" class="required-field" title="Party">Party</label>
                        <ng-select id="ppartyname" title="Party" [items]="partylist" formControlName="ppartyid"
                            bindLabel="ppartyname" bindValue="ppartyid" [multiple]=false placeholder="Select"
                            [searchable]=true [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true
                            (change)="partyName_Change($event)"
                            [ngClass]="{ 'is-invalid': formValidationMessages.ppartyname }">
                        </ng-select>

                        <app-validation-message [messgae]="formValidationMessages?.ppartyname"></app-validation-message>
                        <span class=" position-absolute font-italic"
                            style="right:-160px; top:30px;">{{partyBalance }}</span>
                    </div>

                </div> -->

        <div class="form-group">
          <label class="pl-0 pr-0" class="required-field">Amount Paid</label>
          <input class="form-control border-warning sec-head-bold " style="text-align:right;" type="text" placeholder=""
            id="pactualpaidamount" title="Amount Paid" formControlName="pactualpaidamount" (blur)="pamount_change()"
            appRoundecimal="12@2" appMycurrencyFormatter>
          <!-- <app-validation-message [messgae]="formValidationMessages?.pactualpaidamount">
                    </app-validation-message> 
                     [ngClass]="{ 'is-invalid': formValidationMessages.pactualpaidamount }-->
        </div>
      </div>
      <div class="col-md-6 col-xl-6 offset-2 pt-2">
        <div class="form-group">
          <div class="border rounded p-2 mt-3">
            <div class="col-md-12 col-xl-12 mt-2 mb-2">
              <fieldset [disabled]="disablegst">
                <div class="material-switch">
                  <span class="mr-2" id="pisgstapplicable" title="GST"> GST </span>
                  <input id="gst-switch" name="gst-switch" formControlName="pisgstapplicable" type="checkbox"
                    (change)="isgstapplicable_Checked();">
                  <label for="gst-switch" class="badge-success" data-toggle="collapse" data-target="#gst"></label>
                </div>
              </fieldset>
              <div id="gst" *ngIf="showgst">
                <div class="row">
                  <fieldset [disabled]="disablegst">
                    <div class="col-md-12 col-xl-12" id="pgstcalculationtype" title="GST Calculation Type">
                      <div class="form-check form-check-inline radio-btn-secondary mr-4">
                        <input class="form-check-input" type="radio" id="procgstinc"
                          formControlName="pgstcalculationtype" name="pgstcalculationtype" value="INCLUDE"
                          (change)="claculategsttdsamounts()"
                          [ngClass]="{ 'is-invalid': formValidationMessages.pgstcalculationtype }" id="procgstinc">
                        <label class="mt-1" for="procgstinc"> Include</label>
                      </div>
                      <div class="form-check form-check-inline radio-btn-secondary mr-4 mb-2 mt-2">
                        <input class="form-check-input" type="radio" id="procgstexc"
                          formControlName="pgstcalculationtype" name="pgstcalculationtype" value="EXCLUDE"
                          (change)="claculategsttdsamounts()" id="procgstexc">
                        <label class="mt-1" for="procgstexc"> Exclude </label>
                      </div>
                      <!-- <app-validation-message
                                                [messgae]="formValidationMessages?.pgstcalculationtype">
                                            </app-validation-message>
                                            [ngClass]="{ 'is-invalid': formValidationMessages.pgstcalculationtype } -->

                    </div>
                  </fieldset>
                  <div class="col-md-12 col-xl-12">
                    <div class="row">
                      <div class="form-group col-md-4">
                        <label class="required-field">State</label>
                        <select class="form-control" id="pState" title="State" formControlName="pStateId"
                          (change)="state_change($event)">
                          <option value="" ng-selected="selected">Select</option>
                          <option *ngFor="let state of statelist;trackBy: trackByFn" [value]="state.pStateId">
                            {{state.pState}}</option>
                        </select>
                        <!-- <app-validation-message [messgae]="formValidationMessages?.pState">
                                                </app-validation-message>
                                                 [ngClass]="{ 'is-invalid': formValidationMessages.pState } -->
                      </div>

                      <div class="form-group col-md-4" *ngIf="showgstno">
                        <label>GST No.</label>
                        <input type="text" class="form-control col-md-12" maxlength="15" appAlphanumeric appUppercase
                          id="pgstno" title="GST No." formControlName="pgstno" name="pgstno" (blur)="gsno_change()" />

                        <!-- <app-validation-message [messgae]="formValidationMessages?.pgstno">
                                                </app-validation-message> 
                                                [ngClass]="{ 'is-invalid': formValidationMessages.pgstno }-->

                      </div>
                      <div class="form-group col-md-4">
                        <label class="required-field">GST(%)</label>
                        <select class="form-control" id="pgstpercentage" title="GST(%)" formControlName="pgstpercentage"
                          (change)="gst_Change($event)">
                          <option value="" ng-selected="selected">Select</option>
                          <option *ngFor="let gst of gstlist;trackBy: trackByFn" [value]="gst.pgstpercentage">
                            {{gst.pgstpercentage}}</option>

                        </select>
                        <!-- <app-validation-message
                                                    [messgae]="formValidationMessages?.pgstpercentage">
                                                </app-validation-message>
                                                 [ngClass]="{ 'is-invalid': formValidationMessages.pgstpercentage } -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-8" *ngIf="showgstamount">
                        <label>Amount</label>
                        <label class="form-control col-md-12 text-right pt-2"> {{ currencySymbol }}
                          {{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('pgstamount')?.value ?? 0
                          | currency: currencyCode:'symbol':'1.2-2'
                          }}


                        </label>
                      </div>
                      <div class="form-group col-md-6" *ngIf="showigst">
                        <label>
                          IGST({{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('pigstpercentage')?.value ?? 0
                          }}%)

                        </label>



                        <label class="col-md-12"> {{ currencySymbol }}
                          {{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('pigstamount')?.value ?? 0
                          | currency: currencyCode:'symbol':'1.2-2'
                          }}





                        </label>
                      </div>
                      <div class="form-group col-md-6" *ngIf="showcgst">
                        <label> CGST({{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('pcgstpercentage')?.value ?? 0
                          }}%)



                        </label>
                        <label class="col-md-12"> {{ currencySymbol }}
                          {{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('pcgstamount')?.value ?? 0
                          | currency: currencyCode:'symbol':'1.2-2'
                          }}</label>




                        <!--<input type="text" formControlName="pcgstpercentage" class="form-control col-md-12" />-->
                      </div>
                      <div class="form-group col-md-6" *ngIf="showsgst">
                        <label>
                          SGST({{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('psgstpercentage')?.value ?? 0
                          }}%)
                        </label>



                        <!-- <label class="col-md-12">{{currencySymbol}}
                          {{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].psgstamount.value |
                           currency:currencyCode:'symbol':'1.2-2'}}</label> -->


                        <label class="col-md-12">
                          {{ currencySymbol }}
                          {{
                          (paymentVoucherForm.get('ppaymentsslistcontrols')?.get('putgstamount')?.value ?? 0)
                          | currency: currencyCode:'symbol':'1.2-2'
                          }}
                        </label>


                      </div>
                      <div class="form-group col-md-6" *ngIf="showutgst">
                        <label>
                          UTGST (
                          {{ paymentVoucherForm.get('ppaymentsslistcontrols')?.get('putgstpercentage')?.value ?? 0 }}%
                          )
                        </label>

                        <!-- <label>UTGST({{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].putgstpercentage.value}}%)</label> -->
                        <!-- <label class="col-md-12">{{currencySymbol}}
                          {{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].putgstamount.value |
                          currency:currencyCode:'symbol':'1.2-2'}}</label> -->

                        <label class="col-md-12">
                          {{ currencySymbol }}
                          {{
                          paymentVoucherForm.get('ppaymentsslistcontrols')?.get('putgstamount')?.value ?? 0
                          | currency:currencyCode:'symbol':'1.2-2'
                          }}
                        </label>


                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="border rounded p-2 mt-3">
            <div class="col-md-12 col-xl-12 mt-2 mb-2">
              <div class="material-switch">
                <span class="mr-2" id="pistdsapplicable" title="TDS"> TDS </span>
                <input id="tds-switch" name="tds-switch" formControlName="pistdsapplicable" type="checkbox"
                  (change)="istdsapplicable_Checked()"
                  [ngClass]="{ 'is-invalid': formValidationMessages.pistdsapplicable }">
                <label for="tds-switch" class="badge-success" data-toggle="collapse" data-target="#tds"></label>
              </div>
              <div id="tds" *ngIf="showtds">
                <div class="row">
                  <fieldset [disabled]="disablegst">
                    <div class="col-md-12 col-xl-12" id="ptdscalculationtype" title="TDS Calculation Type">
                      <div class="form-check form-check-inline radio-btn-secondary mr-4 ">
                        <input class="form-check-input" type="radio" id="tdsinclude" value="INCLUDE"
                          formControlName="ptdscalculationtype" name="ptdscalculationtype"
                          [ngClass]="{ 'is-invalid': formValidationMessages.ptdscalculationtype }"
                          (change)="claculategsttdsamounts()">
                        <label class="mt-1" for="tdsinclude"> Include</label>
                      </div>
                      <div class="form-check form-check-inline radio-btn-secondary mr-4 mb-2 mt-2">
                        <input class="form-check-input" type="radio" id="tdsexcluded" value="EXCLUDE"
                          formControlName="ptdscalculationtype" name="ptdscalculationtype"
                          (change)="claculategsttdsamounts()">
                        <label class="mt-1" for="tdsexcluded"> Exclude</label>
                      </div>
                      <!-- <app-validation-message
                                                [messgae]="formValidationMessages?.ptdscalculationtype">
                                            </app-validation-message> [ngClass]="{ 'is-invalid': formValidationMessages.ptdscalculationtype }-->
                    </div>
                  </fieldset>

                </div>
                <div class="row">
                  <div class="col-md-4 col-xl-4">
                    <label class="required-field">Section</label>
                    <select class="form-control" id="pTdsSection" title="Section" formControlName="pTdsSection"
                      (change)="tdsSection_Change($event)">
                      <option value="" ng-selected="selected">Select</option>
                      <option *ngFor="let tds of tdssectionlist;trackBy: trackByFn" [value]="tds.pTdsSection">
                        {{tds.pTdsSection}}</option>

                    </select>
                    <!-- <app-validation-message [messgae]="formValidationMessages?.pTdsSection">
                                        </app-validation-message> 
                                        [ngClass]="{ 'is-invalid': formValidationMessages.pTdsSection }-->
                  </div>
                  <div class="col-md-4 col-xl-4">
                    <label class="required-field">Percentage</label>
                    <select class="form-control" id="pTdsPercentage" title="Section" formControlName="pTdsPercentage"
                      (change)="tds_Change($event)">
                      <option value="" ng-selected="selected">Select</option>
                      <option *ngFor="let tds of tdspercentagelist;trackBy: trackByFn" [value]="tds.pTdsPercentage">
                        {{tds.pTdsPercentage}}</option>

                    </select>
                    <!-- <app-validation-message [messgae]="formValidationMessages?.pTdsPercentage">
                                        </app-validation-message>
                                        [ngClass]="{ 'is-invalid': formValidationMessages.pTdsPercentage }" -->
                  </div>
                  <div class="col-md-4 col-xl-4">
                    <label>Amount</label>
                    <label class="form-control col-md-12 text-right pt-2" id="ptdsamount" title="Section">
                      <!-- [ngClass]="{ 'is-invalid': formValidationMessages.ptdsamount } -->



                      <!-- {{
                      ((paymentVoucherForm.get('ppaymentsslistcontrols') as FormGroup)?.get('ptdsamount')?.value ?? 0)
                      | currency: currencyCode:'symbol':'1.2-2'
                      }} -->
                      {{ currencySymbol }}
                      {{
                      paymentVoucherForm.get('ppaymentsslistcontrols')?.get('ptdsamount')?.value ?? 0
                      | currency: currencyCode:'symbol':'1.2-2'
                      }}





                      <!-- {{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].ptdsamount.value |  currency:currencyCode:'symbol':'1.2-2'}}-->
                      <!--<input class="form-control" type="text" id="ptdsamount" title="Section" formControlName="ptdsamount" [ngClass]="{ 'is-invalid': formValidationMessages.ptdsamount }" />-->
                      <!-- <app-validation-message [messgae]="formValidationMessages?.ptdsamount">
                                        </app-validation-message> -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class=" d-flex justify-content-end mt-4">
          <!-- [debounceTime]="1000" -->
          <a data-toggle="tab" class="btn btn-primary mr-4 px-3 border-0" role="tab" aria-controls="hot"
            aria-selected="false" appButtonDoubleClick (debounceClick)="clearPaymentDetails()"><img
              src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear</a>



          <!-- [debounceTime]="1000" -->
          <button appButtonDoubleClick (debounceClick)="addPaymentDetails()" class="btn btn-b-icon px-3 border-0"
            [disabled]="disableaddbutton">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': disableaddbutton, 'fa-plus': !disableaddbutton}"></i>
            {{addbutton}}
          </button>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xl-12" style="height: 400;">
      <div class="section-content mt-2">
        <ngx-datatable class="material expandable table" [rows]="paymentslist1" columnMode="force" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="50" [limit]="5" [scrollbarH]="true">
          <ngx-datatable-column name="Actions" prop="" frozenLeft="True">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              let-group="group">
              <!-- <label for="edit{{ rowIndex }}">
            <div id="icon-edit" (click)="editHandler($event, row, rowIndex, group)"></div>
          </label> -->
              <label for="delete{{ rowIndex }}">
                <div id="icon-delete" (click)="removeHandler(rowIndex)"></div>
              </label>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Party Name" prop="ppartyname" [cellClass]="'cell-left'"
            [headerClass]="'header-left'">
          </ngx-datatable-column>
          <ngx-datatable-column name="Ledger Name" prop="pledgername" [cellClass]="'cell-left'"
            [headerClass]="'header-left'"></ngx-datatable-column>
          <ngx-datatable-column name="Sub Ledger Name" prop="psubledgername" [cellClass]="'cell-left'">
          </ngx-datatable-column>
          <ngx-datatable-column name="Total Paid Amount" prop="ptotalamount" [cellClass]="'cell-right'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span
                title="{{currencySymbol}} {{row.ptotalamount |  currency:currencyCode:'symbol':'1.2-2'}}">{{currencySymbol}}
                {{row.ptotalamount | currency:currencyCode:'symbol':'1.2-2'}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Paid Amount" prop="pamount" [cellClass]="'cell-right'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span
                title="{{currencySymbol}} {{row.pamount |  currency:currencyCode:'symbol':'1.2-2'}}">{{currencySymbol}}
                {{row.pamount | currency:currencyCode:'symbol':'1.2-2'}}</span>




            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="GST Type" prop="pgstcalculationtype" [cellClass]="'cell-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.pgstcalculationtype==''">-- NA --</div>
              <div *ngIf="row.pgstcalculationtype!=''" title="{{row.pgstcalculationtype}}">
                {{row.pgstcalculationtype}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="TDS Section" prop="pTdsSection" [cellClass]="'cell-left'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.pTdsSection==''">-- NA --</div>
              <div *ngIf="row.pTdsSection!=''" title="{{row.pTdsSection}}">{{row.pTdsSection}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="GST Percentage" prop="pgstpercentage" [cellClass]="'cell-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.pgstpercentage==0">-- NA --</div>
              <div *ngIf="row.pgstpercentage!=0" title="{{row.pgstpercentage}}">{{row.pgstpercentage}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="TDS Amount" prop="ptdsamount" [cellClass]="'cell-right'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.ptdsamount==0">-- NA --</div>
              <div *ngIf="row.ptdsamount!=0"
                title="{{currencySymbol}} {{row.ptdsamount |  currency:currencyCode:'symbol':'1.2-2'}}">
                {{currencySymbol}} {{row.ptdsamount | currency:currencyCode:'symbol':'1.2-2'}}</div>

            </ng-template>





          </ngx-datatable-column>
        </ngx-datatable>


        

  <p-table
  [value]="paymentslist1"
  [scrollable]="true"
  scrollHeight="300px"
  scrollWidth="max-content"
  [paginator]="true"
  [rows]="5">

  <ng-template pTemplate="header">
    <tr>
      <th style="min-width:80px;">Actions</th>
      <th style="min-width:120px;">Party Name</th>
      <th style="min-width:180px;">Ledger Name</th>
      <th style="min-width:120px;">Sub Ledger Name</th>
      <th style="min-width:100px;">Total Paid Amount</th>
      <th style="min-width:100px;">Paid Amount</th>
      <th style="min-width:100px;">GST Type</th>
      <th style="min-width:120px;">TDS Section</th>
      <th style="min-width:100px;">GST Percentage</th>
      <th style="min-width:120px;">TDS Amount</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <td>
        <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger"
          (click)="removeHandler(rowIndex)"></button>
      </td>
      <td>{{rowData.ppartyname || '-- NA --'}}</td>
      <td>{{rowData.pledgername || '-- NA --'}}</td>
      <td>{{rowData.psubledgername || '-- NA --'}}</td>
      <td class="text-right">{{currencySymbol}}{{ rowData.ptotalamount | currency:currencyCode:'symbol':'1.2-2' }}</td>
      <td class="text-right">{{currencySymbol}}{{ rowData.pamount | currency:currencyCode:'symbol':'1.2-2' }}</td>
      <td class="text-center">{{ rowData.pgstcalculationtype || '-- NA --' }}</td>
      <td>{{ rowData.pTdsSection || '-- NA --' }}</td>
      <td class="text-center">{{ rowData.pgstpercentage !== 0 ? rowData.pgstpercentage : '-- NA --' }}</td>
      <td class="text-right">{{ rowData.ptdsamount !== 0 ? (currencySymbol + (rowData.ptdsamount | currency:currencyCode:'symbol':'1.2-2')) : '-- NA --' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10" class="text-center">No data to display</td>
    </tr>
  </ng-template>

</p-table>





      </div>
    </div>
  </div>

  <div class="section-content mt-2">
    <div class="row">
      <div class="col-md-6 col-xl-6 mt-4" style="height: 400;">
        <ngx-datatable class="material expandable table" [rows]="partyjournalentrylist" columnMode="force"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="5">
          <ngx-datatable-column name="Particulars" prop="accountname" [cellClass]="'cell-left'"
            [headerClass]="'header-left'">
          </ngx-datatable-column>
          <ngx-datatable-column name="Dr" prop="debitamount" [cellClass]="'cell-right'" [headerClass]="'header-right'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.debitamount==0"></div>
              <div *ngIf="row.debitamount!=0"
                title="{{currencySymbol}} {{row.debitamount.toFixed(2) | currency:currencyCode:'symbol':'1.2-2'}}">
                {{currencySymbol}}
                <!-- {{row.debitamount.toFixed(2) | currencypipe}} -->
                {{ row.debitamount | currency:currencyCode:'symbol':'1.2-2' }}
              </div>

            </ng-template>





          </ngx-datatable-column>
          <ngx-datatable-column name="Cr" prop="creditamount" [cellClass]="'cell-right'" [headerClass]="'header-right'">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.creditamount==0"></div>
              <div *ngIf="row.creditamount!=0"
                title="{{currencySymbol}} {{row.creditamount | currency:currencyCode:'symbol':'1.2-2'}}">
                <!-- {{currencySymbol}}
                                {{row.creditamount | currencypipe}} -->

                {{ row.creditamount | currency:currencyCode:'symbol':'1.2-2' }}
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <p-table [value]="partyjournalentrylist" [paginator]="true" [rows]="5" [scrollable]="true" scrollHeight="300px">

  <ng-template pTemplate="header">
    <tr>
      <th>Particulars</th>
      <th style="text-align: right;">Dr</th>
      <th style="text-align: right;">Cr</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{ rowData.accountname }}</td>
      <td style="text-align: right;">
        <ng-container *ngIf="rowData.debitamount != 0; else emptyDebit">
          <span title="{{currencySymbol}} {{rowData.debitamount | number:'1.2-2'}}">
            {{currencySymbol}} {{ rowData.debitamount | currency:currencyCode:'symbol':'1.2-2' }}
          </span>
        </ng-container>
        <ng-template #emptyDebit></ng-template>
      </td>
      <td style="text-align: right;">
        <ng-container *ngIf="rowData.creditamount != 0; else emptyCredit">
          <span title="{{currencySymbol}} {{rowData.creditamount | number:'1.2-2'}}">
            {{currencySymbol}} {{ rowData.creditamount | currency:currencyCode:'symbol':'1.2-2' }}
          </span>
        </ng-container>
        <ng-template #emptyCredit></ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" style="text-align:center">No data to display</td>
    </tr>
  </ng-template>

</p-table>


      </div>

      <!-- <div class="col-md-6 col-xl-6">
        <div class="border mt-2 rounded">
          <kendo-grid [groupable]="false" [data]="gridView" [height]="" [group]="groups" [resizable]="true"
            (groupChange)="groupChange($event)">


            <kendo-grid-column field="accountname" title="Particulars" width="250"></kendo-grid-column>
            <kendo-grid-column field="debitamount" title="Dr" width="110"></kendo-grid-column>
            <kendo-grid-column field="creditamount" title="Cr" width="110"></kendo-grid-column>

          </kendo-grid>
        </div>

      </div> -->

      <div class="col-md-6 col-xl-6">
        <div class="form-group mt-2">
          <label class="required-field">Narration</label>
          <textarea class="form-control" rows="4" id="pnarration" title="Narration" formControlName="pnarration"
            maxlength="250"></textarea>
          <!-- [ngClass]="{ 'is-invalid': formValidationMessages.pnarration }" -->
          <!-- <app-validation-message [messgae]="formValidationMessages?.pnarration"></app-validation-message> -->

        </div>
        <!--<div class="form-group col-md-6 mt-1">
            <label>Total Amount paid</label>
            <input type="text" readonly class="form-control" rows="4" id="ptotalpaidamount" title="Total Amount paid" formControlName="ptotalpaidamount" maxlength="300" [ngClass]="{ 'is-invalid': formValidationMessages.pnarration }" />

            <app-validation-message [messgae]="formValidationMessages?.ptotalpaidamount"></app-validation-message>

          </div>-->

        <div class="form-group col-md-6 pl-0">
          <div class="form-group">
            <label id="pDocStorePath" title="Upload Document">Upload Document</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" [value]="imageResponse?.name" [disabled]="true"
                formControlName="pDocStorePath">
              <div class="input-group-append">
                <button class="btn btn-lg-icon px-2 p-0" (click)="fileInput.click()">
                  <img src="assets/images/icon-upload-blue.svg" class="" width="18px" height="18px">
                </button>
                <!-- to uplaod the image -->
                <input style="display: none" type="file" (change)="uploadAndProgress($event,fileInput.files)"
                  #fileInput>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row end -->
</form>

<!------------- save Buttons ------------>

<div class="row mt-3">
  <div class="col-md-12 col-xl-12">
    <div class="d-flex justify-content-end">

      <a data-toggle="tab" class="btn btn-primary mr-4 px-3 border-0" role="tab" aria-controls="hot"
        aria-selected="false" appButtonDoubleClick (debounceClick)="clearPaymentVoucher()"><img
          src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear</a>
      <!-- [debounceTime]="1000" -->

      <!--<a data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="savePaymentVoucher()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3">Save</a>-->

      <!-- <button appButtonDoubleClick [debounceTime]="1000" (debounceClick)="savePaymentVoucher()"
        class="btn btn-b-icon px-3 border-0" [disabled]="disablesavebutton">
        <img src="assets/images/icon-check-white.svg" class="mr-3" width="20px" height="20px" *ngIf="!disablesavebutton">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': disablesavebutton, 'fa-check': !disablesavebutton}"></i>
        {{savebutton}}
      </button> -->

      <button (click)="savePaymentVoucher()" class="btn btn-s-icon px-3 border-0" [disabled]="disablesavebutton">
        <img src="assets/images/icon-check-white.svg" class="mr-3" width="20px" height="20px"
          *ngIf="!disablesavebutton">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': disablesavebutton}"></i> {{savebutton}}
      </button>

    </div>
  </div>
</div>
<!------------- save Buttons ------------>